{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<h1>Главная</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>At blanditiis dolores labore maxime?</li>
<li>Ea eius nihil quasi ut.</li>
<li>Itaque libero magnam praesentium sed?</li>
<li>Beatae cumque quae sit voluptatem.</li>
<li>Ab aliquid deserunt eveniet veritatis!</li>
<li>Accusantium corporis enim reiciendis voluptate!</li>
<li>Aliquid doloremque est laudantium nesciunt!</li>
<li>Culpa earum expedita nobis vitae.</li>
<li>Aliquam at eos sed tempora!</li>
<li>Asperiores enim molestias omnis reprehenderit!</li>
<li>Adipisci ducimus esse et laudantium!</li>
<li>Ab accusantium est provident repellendus.</li>
<li>Animi eius ex facilis temporibus.</li>
<li>Ad blanditiis maxime quam quidem.</li>
<li>Aspernatur earum natus unde voluptates?</li>
<li>Labore magnam placeat quas quos?</li>
<li>Dicta molestias ratione soluta vero?</li>
<li>Architecto blanditiis esse perferendis repudiandae!</li>
<li>Debitis earum fugiat hic odio!</li>
<li>Atque ducimus quaerat quis reiciendis.</li>
<li>Ad cum dolor doloribus ducimus.</li>
<li>Dicta dolores fugit nam soluta?</li>
<li>A at dolore qui voluptas.</li>
<li>A at corporis nam praesentium.</li>
<li>Dicta dolorem neque quaerat quas.</li>
<li>Autem ducimus ipsam voluptate voluptatem!</li>
<li>Dolorum excepturi magnam minus officiis?</li>
<li>Ipsam modi natus necessitatibus voluptate!</li>
<li>Est impedit maxime nobis sapiente!</li>
<li>Autem exercitationem magnam tempora unde?</li>
<li>Aliquid animi ducimus possimus velit.</li>
<li>Eaque exercitationem neque quam quibusdam?</li>
<li>Ea eum fugiat quibusdam repellat.</li>
<li>Et eveniet natus perspiciatis quaerat.</li>
<li>Asperiores at neque odio velit?</li>
<li>Ipsam ipsum iure molestiae nulla!</li>
<li>Facere natus repellendus reprehenderit voluptas.</li>
<li>Ad aperiam at deleniti nemo.</li>
<li>Beatae laboriosam quidem veniam voluptates.</li>
<li>Aperiam beatae deleniti iste sed.</li>
<li>Iste labore magni nam reprehenderit?</li>
<li>Architecto aspernatur deserunt rerum unde?</li>
<li>Alias deleniti nostrum odio repellendus.</li>
<li>Et nesciunt officiis quidem voluptatum.</li>
<li>Aspernatur dolore inventore reiciendis unde.</li>
<li>Aspernatur atque hic ipsam nemo!</li>
<li>Ab enim ipsam labore praesentium.</li>
<li>Iste libero modi suscipit. Eius!</li>
<li>Debitis dolorem rerum veritatis voluptatibus.</li>
<li>Aspernatur fuga in laborum temporibus.</li>
<li>At error officia repellendus sunt.</li>
<li>Accusantium consequatur necessitatibus repellendus voluptate?</li>
<li>Blanditiis eaque nihil provident ut.</li>
<li>Assumenda dolores molestiae ratione repellendus.</li>
<li>In nostrum possimus reprehenderit sint!</li>
<li>Aliquam minus neque sapiente? Officiis.</li>
<li>Cupiditate error est eveniet porro!</li>
<li>Amet cumque eligendi pariatur voluptate?</li>
<li>Accusantium in ipsum nihil voluptatum.</li>
<li>Aliquam dicta dolor pariatur soluta!</li>
<li>Cumque minima nam quia sunt.</li>
<li>Deleniti impedit ipsa ipsum quaerat.</li>
<li>Blanditiis officiis rem sed sunt!</li>
<li>Obcaecati quas quis tempore veniam.</li>
<li>Adipisci consequatur odit quidem vel.</li>
<li>Doloremque excepturi maxime ratione ut.</li>
<li>Ipsa nulla possimus quo rerum?</li>
<li>Eum perspiciatis sequi totam voluptates.</li>
<li>Aut impedit nemo omnis suscipit.</li>
{% endblock %}